.content {
    overflow: auto;
    height: 80vh;
}

.message {
    display:inline-block;
    background-color: #eeeeee;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin: 0.5rem 0 0;
}

p {
    margin: 0 !important;
}

.input-view {
    margin-top: 1rem;
}